<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Saints of Bath</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/nuevo-estilo.css'>
    <script src='main.js'></script>

</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <!-- all other page content -->
            <h1>Sobre Nosotros</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum cumque labore velit blanditiis cupiditate. Nesciunt libero tempore, rerum architecto assumenda totam nisi aut aliquid odio sunt, sapiente, unde quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum cumque labore velit blanditiis cupiditate. Nesciunt libero tempore, rerum architecto assumenda totam nisi aut aliquid odio sunt, sapiente, unde quia.</p>
      </div>
        <footer id="footer">

        </footer>
    </div>

</body>