<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
    <div class="page-container">

        <%- include('../partials/header') %>

        <div class="main-content">
            <!-- all other page content -->
            <div class="about-us-wrap">
                <h1 class="about-us-title">Sobre Nosotros</h1>
                <div class="about-us-p">
                    <p>Somos un grupo de 4 jóvenes amantes del skate que, en Septiembre de 2022, decidimos unirnos y crear esto que nos genera mucha pasión y entusiasmo: una marca creada a partir de nuestro amor por el skate que ofrezca la mejor calidad y variedad posible, y que permita un mayor goze a todos aquellos que realizamos esta actividad que tanto nos apasiona, el skate.</p>
                    <p>Juntos creamos una marca de skaters para skaters</p>
                </div>
            </div>

        <%- include('../partials/footer') %>
        </div>

    </div>

</body>

</html>