<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>

        <!-- No tocar -->


        <div class="page-container">

            <%- include('../partials/header') %>

                <div class="main-content">
                    <!-- No tocar hasta acá -->

                    <h1>
                        FAQs
                    </h1>



                    <!-- ***** Esta parte se DEBE EDITAR ***** -->


                </div>


                <%- include('../partials/footer') %>
        </div>

    </body>

</html>