<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>

        <!-- No tocar -->


        <div class="page-container">

            <%- include('../partials/header') %>

                <div class="main-content">
                    <!-- No tocar hasta acá --> 

                    <!-- ***** Esta parte se DEBE EDITAR ***** -->
    <body>
        <!-- 404: Error! -->
        <div class="not-found-container">
            <img class="not-found-img" src="/img/broken_skate.jpg" alt="No se encontro.">
            <h1 class="not-found-text">Lo sentimos! no encontramos tu página</h1>
        </div>
        
<!-- ***** Hasta acá se puede EDITAR ***** -->

</div>


<%- include('../partials/footer') %>

</div>

</body>

</html>