<nav class="header-categories">

    <select class="header-category">
        <option selected>Skates</option>
        <option>Skates A</option>
        <option>Skates B</option>
        <option>Skates C</option>
    </select>
    <select class="header-category">
        <option selected>Longboards</option>
        <option>Longboards A</option>
        <option>Longboards B</option>
        <option>Longboards C</option>
    </select>
    <select class="header-category">
        <option selected>Cascos</option>
        <option>Cascos A</option>
        <option>Cascos B</option>
        <option>Cascos C</option>
    </select>
    <select class="header-category">
        <option selected>Indumentaria</option>
        <option>Indumentaria A</option>
        <option>Indumentaria B</option>
        <option>Indumentaria C</option>
    </select>
    <select class="header-category">
        <option selected>Otros</option>
        <option>Otros A</option>
        <option>Otros B</option>
        <option>Otros C</option>
    </select>
</nav>