

<footer>
    <div class="footer-content">
        <div class="footer-novedades-links-group">
            <div class="footer-novedades-group">
                <p class="footer-novedades footer-item">Recibí nuestras novedades!</p>
                <form action="/" method="POST" class="footer-item">
                    <input type="email" placeholder="correo electrónico">
                </form>
            </div>

            <div class="footer-links-group">
                <div class="footer-item">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <div class="footer-links">
                    <a href="/" class="footer-item">Inicio</a>
                    <a href="/about-us" class="footer-item">Sobre Nosotros</a>
                    <a href="/refund-policy" class="footer-item">Políticas de Reembolso</a>
                    <a href="/faq" class="footer-item">FAQ</a>
                    <a href="/contact" class="footer-item">Contacto</a>
                </div>
            </div>
        </div>


        <div class="footer-item linea"></div>
        <p class="footer-item footer-developer">Saints of Bath 2022</p>
    </div>

    <a href="https://web.whatsapp.com/" target="_blank"><img src="img/whatsapp.png" alt="WhatsApp"
            class="floating-whatsapp"></a>

</footer>