<header>
    <div class="header-main">
        <a href="/" class="header-logo-container"><img src="/img/Logo chico.png" class="header-logo"
                alt="Saints of Bath"></a>
        <form class="header-buscador header-item">
            <input type="text" placeholder="Buscar">
        </form>

        <a href="/product/carrodecompras"><i class="fa-solid fa-bag-shopping header-item"></i></a>
        <a href="/user/login"><i class="fa-solid fa-user header-item"></i></a>
        <i class="fa-solid fa-bars header-item hamburguer-icon">

            <%- include('../partials/sidebar') %>

        </i>
    </div>
    <!-- <div class="header-secondary"> -->
        <!-- <strong>Promociones, financiación y envíos</strong> -->
        <!-- <form> -->
            <%- include('../partials/categories-navbar.ejs') %>
        <!-- </form> -->
    <!-- </div> -->

</header>