<header>
    <div class="header-main">
        <a href="/" class="header-logo-container"><img src="/img/Logo chico.png" class="header-logo"
                alt="Saints of Bath"></a>
        <form class="header-buscador header-item" action="/product/search" method="GET">
            <input type="text" placeholder="Buscar" name="search">
        </form>

        <a href="/product/carrodecompras"><i class="fa-solid fa-bag-shopping header-item"></i></a>
        <% if (locals.userLogged) { %>
            <div class="header-usermenu header-item">
                <img class="header-avatar header-item" src="/img/users_avatars/<%= userLogged.avatar %>" alt="Avatar">
                <p class="header-item">
                    <%= locals.userLogged ? userLogged.firstName + ' ' + userLogged.lastName : '' %>
                </p>
                <i class="fa-sharp fa-solid fa-angles-down header-item"></i>

                <div class="header-user-submenu">
                    <form class="header-usersubmenu-item" action="/user/profile" method="GET">
                        <button type="submit">Mi Perfil</button>
                    </form>

                    <% if (userLogged.roles && userLogged.roles.includes("ADMIN")) { %>
                        <form class="header-usersubmenu-item" action="/user/" method="GET">
                            <button type="submit">Usuarios</button>
                        </form>
                        <form class="header-usersubmenu-item" action="/product/" method="GET">
                            <button type="submit">Productos</button>
                        </form>
                    <% } %>
                    
                    <form class="header-usersubmenu-item" action="/user/logout" method="POST">
                        <button type="submit">Salir</button>
                    </form>
                </div>
            </div>
        <% } else { %>
                <a href="/user/login"><i class="fa-solid fa-user header-item"></i></a>
        <% } %>


        <i class="fa-solid fa-bars header-item hamburguer-icon">

            <%- include('../partials/sidebar') %>

        </i>
    </div>
    <!-- <div class="header-secondary"> -->
    <!-- <strong>Promociones, financiación y envíos</strong> -->
    <!-- <form> -->
    <%- include('../partials/categories-navbar.ejs') %>
        <!-- </form> -->
        <!-- </div> -->


</header>
