<nav class="floating-menu">
    <i class="fa-solid fa-xmark floating-menu-item floating-menu-cross"></i>
    <div class="linea floating-menu-item"></div>
    <div class="floating-menu-item floating-menu-category">
        <p>Skates</p>
        <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="floating-menu-item floating-menu-category">
        <p>Longboards</p>
        <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="floating-menu-item floating-menu-category">
        <p>Cascos</p>
        <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="floating-menu-item floating-menu-category">
        <p>Indumentaria</p>
        <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="floating-menu-item floating-menu-category">
        <p>Otros</p>
        <i class="fa-solid fa-chevron-down"></i>
    </div>
</nav>