<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>

        <!-- No tocar -->


        <div class="page-container">

            <%- include('../partials/header') %>

                <div class="main-content">
                    <!-- No tocar hasta acá -->


                    <!-- ***** Esta parte se DEBE EDITAR ***** -->

                    <h1>Listado de Usuarios</h1>

                    <div class="user-list-list"></div>

                    <b>Nombre de Usuario</b>
                    <b>Nombre</b>
                    <b>Editar</b>
                    
                    <!-- Acá va el listado con EJS, pero me da error -->
                 
                    <!-- ***** Hasta acá se puede EDITAR ***** -->

                </div>


                <%- include('../partials/footer') %>
        </div>

    </body>

</html>