<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>

        <!-- No tocar -->


        <div class="page-container">

            <%- include('../partials/header') %>

                <div class="main-content">
                    <!-- No tocar hasta acá -->


                    <!-- ***** Esta parte se DEBE EDITAR ***** -->

                    <main class="login-container">
                        <form action="/user/login" method="POST" class="login-form">
                            <h1>Ingresá</h1>
                            <input type="text" class="reg-form-item" name="email" placeholder="usuario" value = "" required>
                            <input type="password" class="reg-form-item" name="password" placeholder="contraseña"
                                required>
                            
                            <% if(locals.mensaje) {%>
                                <p class="reg-error"><%= mensaje%></p>
                            <% }%>

                            <!-- Agrego checkbox de recordar usuario -->

                            
                            <label class="reg-form-item login-left-item">
                                <input type="checkbox" class="form-check-input" name="remember_user"> Recordar mi usuario 
                            </label>
                            

                            <button type="submit" class="reg-form-item btn-submit">Enviar</button>

                            <label class="reg-form-item">o</label>

                            <a href="/user/register" class="login-register-link">Creá tu cuenta</a>
                           
                        </form>



                    </main>

                    <!-- ***** Hasta acá se puede EDITAR ***** -->

                </div>


                <%- include('../partials/footer') %>
        </div>

    </body>

</html>