<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Saints of Bath</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
    <script src='main.js'></script>

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/f3208bf673.js" crossorigin="anonymous"></script>
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
</head>

<body>

    <!-- No tocar -->


    <div class="page-container">

        <header>
            <div class="header-main">
                <a href="/" class="header-logo-container"><img src="/img/Logo chico.png" class="header-logo"
                        alt="Saints of Bath"></a>
                <form class="header-buscador header-item">
                    <input type="text" placeholder="Buscar">
                </form>

                <a href="/shopping-cart"><i class="fa-solid fa-bag-shopping header-item"></i></a>
                <a href="/login"><i class="fa-solid fa-user header-item"></i></a>
                <i class="fa-solid fa-bars header-item hamburguer-icon">

                    <div class="floating-menu">
                        <i class="fa-solid fa-xmark floating-menu-item floating-menu-cross"></i>
                        <div class="linea floating-menu-item"></div>
                        <div class="floating-menu-item floating-menu-category">
                            <p>Skates</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="floating-menu-item floating-menu-category">
                            <p>Longboards</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="floating-menu-item floating-menu-category">
                            <p>Cascos</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="floating-menu-item floating-menu-category">
                            <p>Indumentaria</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="floating-menu-item floating-menu-category">
                            <p>Otros</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>

                </i>
            </div>
            <div class="header-secondary">
                <!-- <strong>Promociones, financiación y envíos</strong> -->
                <form>
                    <div class="header-categories">
                        <select class="header-category">
                            <option selected>Skates</option>
                            <option>Skates A</option>
                            <option>Skates B</option>
                            <option>Skates C</option>
                        </select>
                        <select class="header-category">
                            <option selected>Longboards</option>
                            <option>Longboards A</option>
                            <option>Longboards B</option>
                            <option>Longboards C</option>
                        </select>
                        <select class="header-category">
                            <option selected>Cascos</option>
                            <option>Cascos A</option>
                            <option>Cascos B</option>
                            <option>Cascos C</option>
                        </select>
                        <select class="header-category">
                            <option selected>Indumentaria</option>
                            <option>Indumentaria A</option>
                            <option>Indumentaria B</option>
                            <option>Indumentaria C</option>
                        </select>
                        <select class="header-category">
                            <option selected>Otros</option>
                            <option>Otros A</option>
                            <option>Otros B</option>
                            <option>Otros C</option>
                        </select>
                    </div>
                </form>
            </div>

        </header>

        <div class="main-content">
            <!-- No tocar hasta acá -->


            <!-- ***** Esta parte se DEBE EDITAR ***** -->

            <main>
                <form action="/register" method="POST" class="reg-form">
                    <h1>Creá tu cuenta</h1>
                    <input type="text" class="reg-form-item" name="nombre" placeholder="Nombre y apellido" required>
                    <input type="text" class="reg-form-item" name="usuario" placeholder="Usuario" required>
                    <input type="email" class="reg-form-item" name="email" placeholder="E-Mail" required>
                    <label class="reg-label reg-form-item" for="fecha-nacimiento">Fecha de nacimiento</label>
                    <input type="date" class="reg-form-item" name="fecha-acimiento" id="fecha_nacimiento" placeholder=""
                        required>
                    <input type="text" class="reg-form-item" name="domicilio" placeholder="domicilio" required>
                    <label class="reg-label reg-form-item">Contraseña</label>
                    <input type="password" class="reg-form-item" name="password" placeholder="contraseña" required>
                    <input type="password" class="reg-form-item" name="password_repeated"
                        placeholder="repetir contraseña" required>

                    <button type="submit" class="reg-form-item btn-submit">Enviar</button>
                    <button type="reset" class="reg-form-item btn-reset">Limpiar</button>

                </form>


            </main>


            <!-- ***** Hasta acá se puede EDITAR ***** -->

        </div>


        <!-- No tocar -->
        <footer>
            <div class="footer-content">
                <div class="footer-novedades-links-group">
                    <div class="footer-novedades-group">
                        <p class="footer-novedades footer-item">Recibí nuestras novedades!</p>
                        <form action="/" method="POST" class="footer-item">
                            <input type="email" placeholder="correo electrónico">
                        </form>
                    </div>

                    <div class="footer-links-group">
                        <div class="footer-item">
                            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                            <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                        <div class="footer-links">
                            <a href="/" class="footer-item">Inicio</a>
                            <a href="/about-us" class="footer-item">Sobre Nosotros</a>
                            <a href="/refund-policy" class="footer-item">Políticas de Reembolso</a>
                            <a href="/faq" class="footer-item">FAQ</a>
                            <a href="/contact" class="footer-item">Contacto</a>
                        </div>
                    </div>
                </div>


                <div class="footer-item linea"></div>
                <p class="footer-item footer-developer">Saints of Bath 2022</p>
            </div>

            <a href="https://web.whatsapp.com/" target="_blank"><img src="img/whatsapp.png" alt="WhatsApp"
                    class="floating-whatsapp"></a>

        </footer>
        <!-- No tocar hasta acá -->
    </div>

</body>

</html>