.fondo-verde {
    /* background-color:  #12b43b!important; */
    background-color: white;
    color:black!important
  }
  
  .borde-verde {
    border-color: #12b43b!important;
    color:black!important;
    border-width: 4px;
  }

  .letra-sidebar {
    color: black!important;
  }

  .titulo-sidebar {
    color: #12b43b!important;
    /* font-size: 8rem;
    line-height: 1rem; */
  }

  .sob-flex-container {
    display: flex;
    width: 100%;
    align-items: center;
    
  }

  .sob-flex-container p{
    flex-grow: 1;
    
  }

  /* -------------- NOT FOUND -------------- */
.sob-not-found-container {
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px yellow solid; */
    
}

.sob-not-found-img {
    width: 25%;
    text-align: center;
}

.sob-not-found-text {
    text-align: center;
}
