<!DOCTYPE html>
<html>

    <%- include('../partials/head') %>

<body>
	<!-- No tocar -->

	<!-- http://localhost:3050/product/altaProducto -->
	<div class="page-container">

		<%- include('../partials/header') %>

		<div class="main-content">

			        
			<main class="altaProducto-main">


				<div class="altaProducto-formulario">

					<form action="/product" method = "POST" class="altaProducto-form">
						<h1 class="altaProducto-h1">Alta de producto</h1>

						<label for="name" class="altaProducto-label altaProducto-item">Nombre del producto</label>
						<input type="text" class="altaProducto-item" name="nombre" placeholder="Nombre del producto" required> 
					
						<label for="description" class="altaProducto-label altaProducto-item">Descripción</label>
						<input type="text" class="altaProducto-item" name="descripcion" placeholder="Descripción del producto" required>
						
					
						<label for="myfile" class="altaProducto-label altaProducto-item">Cargar imagen</label>
						<input type="file" id="myfile" name="myfile" class="altaProducto-item" required><br>
					
						<label class="altaProducto-label altaProducto-item">Categoría</label>
						<select name="categoria" class="altaProducto-item" placeholder="Seleccione una categoría" required>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					
						<label class="altaProducto-label altaProducto-item">Talle</label>
						<select name="talle" class="altaProducto-item" placeholder="Seleccione un talle" required>
							<option value="1">XS</option>
							<option value="2">S</option>
							<option value="3">M</option>
							<option value="4">L</option>
						</select>
					
						<label for="color" class="altaProducto-label altaProducto-item">Color</label>
						<input type="text" class="altaProducto-item" placeholder="Color del producto" required>
					
						<label for="price" class="altaProducto-label altaProducto-item">Precio</label>
						<input type="text" class="altaProducto-item" placeholder="Precio del producto" required>

						<button type="submit" class="altaProducto-item altaProducto-btn-submit">Enviar</button>
                    	<button type="reset" class="altaProducto-item altaProducto-btn-reset">Limpiar</button>

					</form>

				</div>

			</main>

        </div>

		<!-- ***** Hasta acá se puede EDITAR ***** -->



		<!-- No tocar -->

		<%- include('../partials/footer') %>

		<!-- No tocar hasta acá -->
	</div>

</body>

</html>