	<!DOCTYPE html>
<html>
<head>
	<title>Saints of Bath - Checkout</title>


	<!-- Link al CSS -->


	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<!-- link a la fuente de google -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">


</head>



<body>

	<!-- header -->


   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Carro de Compras</h3>
   	   	<h5 class="quitartodo">Quitar todo</h5>
   	   </div>


	   <!-- producto (skate1) -->


   	   <div class="Cart-Items">
   	   	  <div class="image-box">
   	   	  	<img src="/img/skate1.png" style={{ height="120px" }} />
   	   	  </div>
   	   	  <div class="about">
   	   	  	<h1 class="title">Skate SOB </h1>
   	   	  	<h3 class="subtitle">Color Blanco</h3>
   	   	  	<img src="/img/disponible.png" style={{ height="30px" }}/>
   	   	  </div>


		  <!-- contador con + y - de cantidad de productos -->
   	   	  <div class="sumaresta">
   	   	  	<div class="btn">-</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">+</div>
   	   	  </div>

		  <!-- precio con sus extras de quitar y aplicar codigo de descuento al producto -->

   	   	  <div class="prices">
   	   	  	<div class="amount">$19.999</div>
   	   	  	<div class="save"><u>Aplicar Codigo de descuento</u></div>
   	   	  	<div class="remove"><u>Quitar</u></div>
   	   	  </div>
   	   </div>

	   <!-- producto 2 (skate2) -->

   	   <div class="Cart-Items pad">
   	   	  <div class="image-box">
   	   	  	<img src="/img/skate2.png" style={{ height="120px" }} />
   	   	  </div>


		<!-- título de la skate e información de la misma-->

   	   	  <div class="about">
   	   	  	<h1 class="title">Skate SOB</h1>
   	   	  	<h3 class="subtitle">Color Negro</h3>
   	   	  	<img src="/img/disponible.png" style={{ height="30px" }}/>
   	   	  </div>

		  <!-- botón con + y - de cantidad de productos -->

		  <div class="sumaresta">
   	   	  	<div class="btn">-</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">+</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">$19.999</div>
   	   	  	<div class="save"><u>Aplicar codigo de descuento</u></div>
   	   	  	<div class="remove"><u>Quitar</u></div>
   	   	  </div>
   	   </div>
   	 <hr> 

	 <!-- checkout con valor total de la compra -->
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Total</div>
   	 		<div class="items">2 articulos</div>
   	 	</div>
   	 	<div class="total-amount">$39.998</div>
   	 </div>
   	 <button class="button">Realizar Checkout</button></div>
   </div>
</body>
</html>
