<!DOCTYPE html>
<html>

	<%- include('../partials/head') %>

<body>
	<!-- No tocar -->


	<div class="page-container">

		<%- include('../partials/header') %>
		
		<div class="main-content">
			<!-- No tocar hasta acá -->


			<!-- ***** Esta parte se DEBE EDITAR ***** -->

			<main class="prod-detalle-producto-main">

				<div class="prod-foto-producto-web">
					<i class="fa-solid fa-magnifying-glass-plus"></i>
					<section class="prod-foto-producto">
						<div>
							<img src="/img/remera.jpg" class="prod-remera" alt="">
						</div>
				</div>

				<div class="prod-detalles-caracteristicas">
					<div class="prod-detalles">
						<h2 class="prod-titulo-producto">Remera Sk-8</h2>
						<span class="prod-precio-producto">$$$$</span>
						<div class="prod-cuotas">
							<i class="fa-regular fa-credit-card"></i>
							<p class="prod-texto-cuotas">xx cuotas sin interés</p>
						</div>
						<a href="#" class="prod-link-detalles">Ver más detalles</a>

						<section class="prod-formulario">
							<form action="/color" method="GET" class="prod-elegir-color">
								<label>Color</label>
								<select name="color" class="prod-form-color">
									<option value="Negro">Negro</option>
									<option value="Blanco">Blanco</option>
									<option value="Marrón">Marrón</option>
								</select>
							</form>

							<form action="/size" method="GET" class="prod-elegir-talle">
								<label class="label-talle">Talle</label>
								<select name="talle" class="prod-form-talle">
									<option value="XS">XS</option>
									<option value="S">S</option>
									<option value="M">M</option>
									<option value="L">L</option>
								</select>
								<a href="#" class="prod-link-tabla-talles">Ver tabla de talles</a>
							</form>

							<form action="/quant" method="GET" class="prod-elegir-cantidad">
								<label>Cantidad</label>
								<select name="cantidad" class="prod-form-cantidad">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</form>
						</section>

						<button class="prod-boton-agregar">Agregar al carrito</button>

						<p class="prod-texto-envio-gratis">Envío gratis superando los $10.000</p>

						<section class="prod-section-codigo-postal">
							<form action="contact" method="POST">
								<label for="prod-cod-postal"></label>
								<textarea name="prod-cod-postal" id="prod-cod-postal">Tu código postal</textarea>
							</form>
							<p><a href="#" class="prod-btn-codigo-postal">Calcular</a></p>
						</section>
					</div>

					<div class="prod-div-caracteristicas-producto">
						<section class="prod-section-caracteristicas-producto">
							<p class="prod-titulo-caracteristicas">Caracteristicas:</p>
							<p class="prod-texto-caracteristicas">
								Remera diseñada por nuestros artistas exclusivos. Tejido: Jersey 30/1. Algodón
								Sustentable.
							</p>
						</section>
					</div>

					<div class="prod-recomendados">
						<h2 class="prod-titulo-recomendados">Recomendados para vos</h2>
						<article class="prod-fotos-recomendados">
							<img src="/img/recomendado1.jpg" class="prod-recomendado1" alt="">
							<img src="/img/recomendado2.jpg" class="prod-recomendado2" alt="">
						</article>
					</div>
				</div>
			</main>

		</div>


		<!-- ***** Hasta acá se puede EDITAR ***** -->

		<%- include('../partials/footer') %>

	</div>

</body>

</html>