* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

#page-container {
    position: relative;
    min-height: 100vh;
    border: solid 4px yellow;
  }
  
  #content-wrap {
    padding-bottom: 8.5rem;    /* Footer height */
    border: dotted 4px orange;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.5rem;            /* Footer height */

    border: dashed 4px green;
  }