/* -------------- PALETA DE COLROES -------------- */
/* Verdes: #12b43b, #23a539 
Gris: #ebebeb */

:root {
    --verde-claro: #12b43b;
    --verde-medio: #23a539;
    --gris: #ebebeb;

    --ancho-menu-colapsable: 300px;
}



/* -------------- GENERALES -------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

main {
    padding-top: 20px;
}

.linea {
    border-top: solid 1px darkgray;
}

a i {
    color: black;
}

.btn-submit {
    background-image: linear-gradient(#12b43b, #23a539);
    font-size: 1.2rem;
}

.btn-submit:hover {
    background-image: linear-gradient(#23a539, #156423);
    font-size: 1.2rem;
    color: white;
}

.btn-reset {
    background-image: linear-gradient(#ebebeb, darkgray);
    font-size: 1.2rem;
}

.btn-reset:hover {
    background-image: linear-gradient(darkgray, darkslategray);
    color: white;
}

/* -------------- HEADER -------------- */
header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    z-index: 100;

    /* Si se cambia el height, hay que cambiar en page-container */
    height: 18vh;


    /* background-color: white; */
    background-image: linear-gradient(to bottom, white 80%, rgba(255, 255, 255, 0.6) 20%);

}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    /* --------- Esto creo que debe ir en el hader no en .header-main, lo muevo */
    /* position: fixed; */
    /* position: sticky; */
    /* top: 0px; */
    /* z-index: 100; */

    /* Si se cambia el height, hay que cambiar en page-container */
    /* height: 10vh;  */

    /* background-color: white; */
    background-image: linear-gradient(to bottom, white 80%, rgba(255, 255, 255, 0.6) 20%);
    /* --------- Hasta aca */

    width: 100%;


}

.header-item {
    margin: 5px;
}

.header-logo-container {
    width: 30%;
}

.header-logo {
    width: 100%;
}

.header-buscador {
    flex-grow: 1;
}

.header-buscador input {
    width: 100%;
}

.hamburguer-icon {
    /*Es pisado por una clase del ícono, pero no importa ya que lo que 
     se necesita es ocultarlo en resolución web */
    display: block;
}

.hamburguer-icon:hover .floating-menu {
    display: flex;
    /* El movimiento se hace para que aparezca el menú, y debe ser igual a su ancho. */
    transform: translateX(-80vw);
}

.main:hover .floating-menu,
.body:hover .floating-menu {
    display: none;
}


/* Voy a borrar esto, lo muevo a header-categories
.header-secondary {
    display: none;
    En mobile no se muestra, sólo tablet o web
    text-align: center;
    width: 100%;
}

.header-secondary strong {
    line-height: 2rem;
} */

.header-categories {
    /* Traído de header-secondary */
    display: none;
    /* En mobile no se muestra, sólo tablet o web */
    text-align: center;
    width: 100%;

    /* display: flex; */
    /* justify-content: space-around; */
}

.header-category {
    flex-grow: 1;
    text-transform: uppercase;
}

/* -------------- FLOATING MENU -------------- */
.floating-menu {
    /* Antes estaba en display:none porque no se mostraba, pero ahora se lo "mueve", por eso está siempre visible. */
    display: flex;
    flex-direction: column;

    position: fixed;
    /* El valor del ancho es el que luego se mueve para esconderlo o mostrarlo. */
    width: 80vw;
    height: 100vh;
    top: 0px;

    /* Antes tenía right: 0px; pero lo cambio a negativo para que se "esconda". Debe ser el tamaño del ancho del menú. */
    right: -80vw;

    padding-top: 12vh;
    /*header height, más un poquito para separar más */
    background-color: white;
    z-index: 95;

    padding-left: 10px;
    padding-right: 10px;

    transition: transform 400ms;
}

.floating-menu-item {
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
}

.floating-menu-category {
    display: flex;
    align-items: center;
}

.floating-menu-category p {
    flex-grow: 1;
}

.floating-menu-category i {
    font-size: 1rem;
}

/* -------------- FOOTER -------------- */
footer {
    position: absolute;
    bottom: 0px;
    height: 21rem;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.footer-novedades-links-group {
    width: 100%;
}

.footer-item {
    width: 100%;
    line-height: 2.5rem;
}

.footer-novedades {
    text-transform: uppercase;
    text-align: left;
    line-height: 0.7rem !important;
}

footer input {
    width: 100%;
}

footer i {
    margin-left: 15px;
    margin-right: 15px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    /* En tablet o web se coloca horizontal */
    width: 100%;
    justify-content: center;
    color: black !important;
}

.footer-developer {
    font-size: smaller;
}

.floating-whatsapp {
    width: 50px;
    position: fixed;
    font-size: 3.5rem;
    bottom: 2rem;
    right: 1rem;
    z-index: 90;
    background-color: transparent;
    transition: width 200ms;
    animation: whatsapp-parpadeo 0.5s 6 alternate;
}

@keyframes whatsapp-parpadeo {
    0% {
        width: 50px;
    }

    100% {
        width: 60px;
    }
}

.floating-whatsapp:hover {
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
    border-radius: 50%;
    width: 60px;
}


/* -------------- MAIN -------------- */

.homemain {
    padding-top: 0px;
    align-items: center;
    /* -------------- Lo ag|e para no modificar el otro -------------- */
    justify-content: center;
}

.home-promos {
    position: relative;
}


.homeh1-measure {
    font-size: 100%;
    margin: 0.1em;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
    line-height: 0.9em;
    background-color: #ebebeb;
    color: #12b43b;

    /* Para alternar */
    width: 100%;
    position: absolute;
    top: 0px;
    animation-name: home-promociones;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.home-info-cuotas {
    font-size: 100%;
    margin: 0.1em;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
    line-height: 0.9em;
    background-color: #ebebeb;
    color: #12b43b;

    /* Para alternar */
    width: 100%;
    position: absolute;
    top: 0px;
    animation-name: home-promociones;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes home-promociones {
    0% {
        /* Mostrar */
        /* display: flex; */
        /* font-size: 120%; */
        /* color:#12b43b; */
        z-index: 100;
    }

    25% {
        color: #12b43b;
    }

    75% {
        color: transparent;
    }

    100% {
        /* Ocultar */
        /* display: none; */
        /* font-size: 100%; */
        /* color:transparent; */
        z-index: 0;
    }

}

.homecontenedor-section {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-between;
}

.homearticle-1 {
    width: 100%;
    padding: 1em;

}

.homecontenedor-section2 {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.home-tamañorelasub {

    font-size: 100%;
    line-height: 1.5em;
    padding: 12%;
}

.homeh2-measure {
    justify-content: center;
    font-size: 2em;
    width: 100%;
    line-height: 1.5em;
    padding: 10%;
    text-align: center;
}

.homecontenedor-section3 {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.homedetalle-producto {
    border-top: 1px solid #ebebeb;
    padding: 1em;
    margin: 1.5em;
    align-items: flex-end;
}



.hometitulo {
    font-size: 1em;
    margin-bottom: 0.4em;
    color: black;
    line-height: 0.4rem;
}

.homesubtitulo {
    color: #23a539;
    line-height: 1em;
}



.page-container {
    position: relative;

    /* El min-height debe ser el 100 menos el height del header-main. Si ése cambia, cambiar acá */
    min-height: 100vh;

    /* El height del header */
    margin-top: 18vh;
}

.main-content {
    /* Este padding sirve para dejar el espacio al Footer. En App lleva este valor, en tablet y desktop otros menores. */
    padding-bottom: 23.5rem;
}

article img {
    width: 100%;
}

/* ------------------ LOGIN ------------------  */
.login-container {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 40px;
    border: 1px #ebebeb solid;
    border-radius: 10%;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-top: 10px;
}

.login-form label {
    text-align: center;
}

.login-register-link {
    width: 100%;
    color: #12b43b;
    text-align: center;
}


/* ------------------ REGISTER ------------------  */
.reg-form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-top: 10px;
}

.reg-form-item {
    width: 100%;
    margin-top: 20px;
    /* border: 0px; */
    padding: 7px;
    /* border-radius: 10%; */
}

.reg-label {
    font-weight: bold;
}


/*-------------- DETALLE DE PRODUCTO -------------- */
.prod-detalle-producto-main {
    padding-top: 0px;
    align-items: center;
    justify-content: center;
}

.prod-foto-producto-web {
    text-align: center;
}

.prod-remera {
    padding: 1em;
    max-width: 55%;
    position: relative;
    z-index: 1;
}

/* .fa-solid {
	position:absolute; 
	z-index: 2;
	right:90%; 
	
} */

.prod-titulo-producto {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5%;
}

.prod-precio-producto {
    font-size: 1em;
    font-weight: bold;
    margin-left: 5%;
}

.prod-cuotas {
    margin-left: 5%;
}

.prod-texto-cuotas {
    display: inline-block;

}

.prod-link-detalles {
    margin-top: 0%;
    font-size: 0.6em;
    margin-left: 5%;
    text-decoration: none;
    color: black;
}

.prod-elegir-color {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;

}

.prod-elegir-talle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;
}

.prod-elegir-cantidad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    margin-top: 4%;
}

.prod-formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1em;
    margin-left: 5%;
}

.prod-link-tabla-talles {
    font-size: 0.5em;
    font-style: italic;
    margin-top: 1em;
}

.prod-form-color {
    padding: 5% 0;
}

.prod-form-talle {
    padding: 5% 0;
}

.prod-form-cantidad {
    padding: 5% 0;
    width: 225%;
}

.prod-boton-agregar {
    margin-top: 2em;
    width: 86%;
    text-align: center;
    /*background-color: #12b43b;*/
    border-radius: 25px;
    border: 1px solid #12b43b;
    height: 2.5em;
    margin-left: 5%;
    cursor: pointer;
}

.prod-boton-agregar:hover {
    background: linearGradient (#12b43b, #23a539);
}

.prod-texto-envio-gratis {
    font-size: 0.8em;
    color: grey;
    margin-left: 5%;
}

.prod-section-codigo-postal {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

#prod-cod-postal {
    color: grey;
    font-size: 0.8em;

}

.prod-btn-codigo-postal {
    margin-left: 20%;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.prod-section-caracteristicas-producto {
    margin-left: 5%;
}

.prod-recomendados {
    margin-left: 5%;
    margin-top: 2%;
    ;
    border-top: 0.1em solid #ebebeb;
}

.prod-titulo-recomendados {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.prod-fotos-recomendados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prod-recomendado1 {
    max-width: 40%;
}

.prod-recomendado2 {
    max-width: 40%;
}

/* ------------------ ALTA PRODUCTO ------------------  */
.altaProducto-h1 {
    margin-bottom: 1rem;
}

.altaProducto-product-form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-top: 10px;
}

.altaProducto-item {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.altaProducto-label {
    font-weight: bold;
}

.altaProducto-btn-submit{
    background-image: linear-gradient(#12b43b, #23a539);
    font-size: 1.2rem;
}

.altaProducto-btn-submit:hover {
    background-image: linear-gradient(#23a539, #156423);
    font-size: 1.2rem;
    color: white;
}

.altaProducto-btn-reset{
    background-image: linear-gradient(#ebebeb, darkgray);
    font-size: 1.2rem;
}

/* -------------- MEDIA QUERIES -------------- */
/* Tablet */
@media (min-width: 768px) {
    .btn-submit {
        width: 200px;
    }

    .reg-form {
        width: 60%;
    }

    .login-container {
        width: 50%;
    }

    .btn-reset {
        width: 200px;
        /* margin-top:40px; */
        margin-left: 20px;
    }

    .header-categories {
        display: flex;
        /* .header-secondary { */
        /* display: block; */
        /* En mobile no se muestra, sólo tablet o web */
    }

    .floating-menu {
        display: none;
    }

    .floating-whatsapp {
        width: 60px;
    }

    @keyframes whatsapp-parpadeo {
        0% {
            width: 60px;
        }

        100% {
            width: 70px;
        }
    }

    .floating-whatsapp:hover {
        width: 70px;
    }

    .hamburguer-icon {
        /* Es necesario el "important" para que no se pise por una clase del ícono! */
        display: none !important;
    }

    footer {
        height: 13rem;
    }

    .footer-links {
        justify-content: space-around;
        flex-direction: row;
        /* En mobile se coloca vertical */
    }

    .linea {
        margin-top: 10px;
        margin-left: 40%;
        margin-right: 40%;
    }

    .footer-links a {
        width: auto;
    }

    .main-content {
        /* Este padding sirve para dejar el espacio al Footer. En App lleva un valor mayor, en tablet éste, y desktop otro menor. */
        padding-bottom: 13rem;
    }


    .homecontenedor-section {
        display: flex;
        flex-wrap: nowrap;
        padding: 1em;
        justify-content: space-between;
    }

    .homearticle-1 {
        width: 33%;
        padding: 1em;

    }


    .homecontenedor-section2 {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .home-tamañorelasub {
        padding: 2%;
    }

    .art-imganddesc {
        width: 45%;

    }

    /*-------DETALLE DE PRODUCTO--------*/
    .prod-detalle-producto-main {
        display: flex;
        flex-direction: row-reverse;

    }

    .prod-foto-producto-web {
        max-width: 350px;
        right: 40%;
        border: 1px solid black;
        align-items: flex-end;
    }

    .prod-detalles-caracteristicas {
        padding: 5%;
        align-items: center;

    }

    .prod-titulo-caracteristicas {
        font-style: normal;
        font-size: 1em;
    }

    .prod-texto-caracteristicas {
        font-size: 0.8em;
        margin: auto;
    }

    .prod-div-caracteristicas-producto {
        align-items: left;
    }

    .prod-titulo-producto {
        font-size: 1.5em;
        font-weight: bold;
        margin: auto;
        margin-left: 5%;
        margin-top: 15%;
    }

    .prod-precio-producto {
        font-size: 1.2em;
    }

    .prod-cuotas {
        font-size: 0.7em;
    }

    .prod-texto-cuotas {
        display: inline-block;
    }

    .prod-link-detalles {
        margin-top: 0%;
        font-size: 0.8em;
        margin-left: 5%;
    }

    .prod-formulario {
        margin-top: 1.5em;
    }

    .prod-elegir-cantidad {
        margin-top: 0.2em;
    }

    .prod-form-cantidad {
        width: 100%;
    }

    .prod-boton-agregar {
        width: 40%;
        text-align: center;
        border: none;
        cursor: pointer;
        border: 1px solid #12b43b;
    }

    /* .fa-solid {
		visibility:hidden;
	} */

    .prod-recomendados {
        display: none;
    }

    /*-------ALTA PRODUCTO--------*/
    .altaProducto-form {
        width: 60%;
        margin: auto;
    }

}

/* Desktop */
@media (min-width: 1200px) {


    .floating-whatsapp {
        width: 80px;
    }

    @keyframes whatsapp-parpadeo {
        0% {
            width: 80px;
        }

        100% {
            width: 90px;
        }
    }

    .floating-whatsapp:hover {
        width: 90px;
    }

    footer {
        height: 10rem;
    }

    .footer-novedades-links-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .footer-novedades-group {
        width: 35%;
    }

    .footer-novedades {
        line-height: 1.9rem !important;
    }

    .footer-links-group {
        flex-grow: 1;
        width: 100%;
    }

    .main-content {
        /* Este padding sirve para dejar el espacio al Footer. En App lleva un valor mayor, en tablet éste, y desktop otro menor. */
        padding-bottom: 8rem;
    }


    .homecontenedor-section {
        display: flex;
        flex-wrap: nowrap;
        padding: 1em;
        justify-content: space-around;
    }

    .homearticle-1 {
        width: 33%;
        padding: 1em;

    }


    .homecontenedor-section2 {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .home-tamañorelasub {
        padding: 4%;
    }

    .art-imganddesc {
        width: 24%;

    }
}