/* -------------- PALETA DE COLROES -------------- */
/* Verdes: #12b43b, #23a539 
Gris: #ebebeb */


/* -------------- GENERALES -------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.linea {
    border-top: solid 1px darkgray;
}

a i {
    color: black;
}

.btn-submit {
    background-image: linear-gradient(#12b43b, #23a539 );
    font-size: 1.2rem;
}

.btn-submit:hover {
    background-image: linear-gradient( #23a539 , #156423);
    font-size: 1.2rem;
    color:white;
}

.btn-reset {
    background-image: linear-gradient(#ebebeb, darkgray );
    font-size: 1.2rem;
}

.btn-reset:hover {
    background-image: linear-gradient( darkgray , darkslategray);
    color: white;
}

/* -------------- HEADER -------------- */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    /* position: sticky; */
    top: 0px;
    z-index: 100;

    /* Si se cambia el height, hay que cambiar en page-container */
    height: 10vh; 

    /* background-color: white; */
    background-image: linear-gradient(to bottom, white 80%, rgba(255, 255, 255, 0.6) 20%);
}

.header-item {
    margin: 5px;
}

.header-logo-container {
    width: 30%;
}

.header-logo {
    width: 100%;
}

.header-buscador {
    flex-grow: 1;
}

.header-buscador input {
    width: 100%;
}

.hamburguer-icon {
    /*Es pisado por una clase del ícono, pero no importa ya que lo que 
     se necesita es ocultarlo en resolución web */
    display: block;
}

.hamburguer-icon:hover .floating-menu {
    display: flex;
}

.main:hover .floating-menu,
.body:hover .floating-menu {
    display: none;
}

.header-secondary {
    display: none;
    /* En mobile no se muestra, sólo tablet o web */
    text-align: center;
}

.header-secondary strong {
    line-height: 2rem;
}

.header-categories {
    display: flex;
    /* justify-content: space-around; */
}

.header-category {
    flex-grow: 1;
    text-transform: uppercase;
}

/* -------------- FLOATING MENU -------------- */
.floating-menu {
    display: none;
    /* display: flex; ---> para cuando se quiera mostrar */
    flex-direction: column;

    position: fixed;
    width: 80vw;
    height: 100vh;
    top: 0px;
    right: 0px;

    padding-top: 12vh;
    /*header height, más un poquito para separar más */
    background-color: white;
    z-index: 95;

    padding-left: 10px;
    padding-right: 10px;
}

.floating-menu-item {
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
}

.floating-menu-category {
    display: flex;
    align-items: center;
}

.floating-menu-category p {
    flex-grow: 1;
}

.floating-menu-category i {
    font-size: 1rem;
}

/* -------------- FOOTER -------------- */
footer {
    position: absolute;
    bottom: 0px;
    height: 21rem;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.footer-novedades-links-group {
    width: 100%;
}

.footer-item {
    width: 100%;
    line-height: 2.5rem;
}

.footer-novedades {
    text-transform: uppercase;
    text-align: left;
    line-height: 0.7rem !important;
}

footer input {
    width: 100%;
}

footer i {
    margin-left: 15px;
    margin-right: 15px;
}

.footer-links {
    display: flex;
    flex-direction: column;/* En tablet o web se coloca horizontal */
    width: 100%;
    justify-content: center;
    color: black !important;
}

.footer-developer {
    font-size: smaller;
}

.floating-whatsapp {
    width: 50px;
    position: fixed;
    font-size: 3.5rem;
    bottom: 2rem;
    right: 1rem;
    z-index: 90;
    background-color: transparent;  
}

.floating-whatsapp:hover {
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
    border-radius: 50%;
}


/* -------------- MAIN -------------- */

.homemain {
    padding-top: 0px;     
    align-items: center; /* -------------- Lo agrege para no modificar el otro -------------- */
    justify-content: center;
}


.homeh1-measure {
    font-size: 100%;
    margin: 0.1em;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
    line-height: 0.9em;
    background-color: #ebebeb;
    color:#12b43b;   
}

.homecontenedor-section {
     display: flex;
     flex-wrap: wrap;
     padding: 1em;
     justify-content: space-between;
}

.homearticle-1{
    width: 100%;
    padding: 1em;

}

.homecontenedor-section2 {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.home-tamañorelasub {

    font-size: 100%;
    line-height: 1.5em;
    padding: 12%;
}

.homeh2-measure { 
    justify-content: center;
    font-size: 2em;
    width: 100%;
    line-height: 1.5em;
    padding: 10%;
    text-align: center;
}

.homecontenedor-section3 {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.homedetalle-producto{
    border-top: 1px solid #ebebeb;
    padding: 1em;
    margin: 1.5em;
    align-items: flex-end;
}



.hometitulo{
    font-size: 1em;
    margin-bottom: 0.4em;
    color: black;
    line-height: 0.4rem;
}

.homesubtitulo {
    color: #23a539;
    line-height: 1em;
}



.page-container {
    position: relative;

    /* El min-height debe ser el 100 menos el height del header-main. Si ése cambia, cambiar acá */
    min-height: 90vh;
}

.main-content {
    /* Este padding sirve para dejar el espacio al Footer. En App lleva este valor, en tablet y desktop otros menores. */
    padding-bottom: 23.5rem;
}

main {
    padding-top: 20px;
}

article img {
    width: 100%;
}


/* ------------------ LOGIN ------------------  */
.login-container {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 40px;
    border: 1px #ebebeb solid;
    border-radius: 10%;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-top: 10px;
}

.login-form  label {
    text-align: center;
}

.login-register-link {
    width: 100%;
    color:#12b43b;
    text-align: center;
}


/* ------------------ REGISTER ------------------  */
.reg-form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-top: 10px;
}

.reg-form-item {
    width: 100%;
    margin-top: 20px;
    /* border: 0px; */
    padding: 7px;
    /* border-radius: 10%; */
}

.reg-label {
    font-weight: bold;
}



/* -------------- MEDIA QUERIES -------------- */
/* Tablet */
@media (min-width: 768px) {
    .btn-submit {
        width: 200px;
    }

    .reg-form {
        width: 60%;
    }

    .login-container {
        width: 50%;
    }
    
    .btn-reset {
        width: 200px;
        /* margin-top:40px; */
        margin-left: 20px;    
    }

    .header-secondary {
        display: block;
        /* En mobile no se muestra, sólo tablet o web */
    }

    .floating-menu {
        display: none;
    }

    .floating-whatsapp {
        width: 60px;
    }
    
    .hamburguer-icon {
        /* Es necesario el "important" para que no se pise por una clase del ícono! */
        display: none !important;
    }

    footer {
        height: 13rem;
    }

    .footer-links {
        justify-content: space-around;
        flex-direction: row;/* En mobile se coloca vertical */
    }

    .linea {
        margin-top: 10px;
        margin-left: 40%;
        margin-right: 40%;
    }

    .footer-links a {
        width: auto;
    }

    .main-content {
        /* Este padding sirve para dejar el espacio al Footer. En App lleva un valor mayor, en tablet éste, y desktop otro menor. */
        padding-bottom: 13rem;
    }


    .homecontenedor-section {
        display: flex;
        flex-wrap: nowrap;
        padding: 1em;
        justify-content: space-between;
    }

    .homearticle-1{
        width: 33%;
        padding: 1em;
    
    }

    
    .homecontenedor-section2 {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .home-tamañorelasub {
        padding: 2%;
    }


    
    .art-imganddesc{
        width: 45%;
        
    }
    
    

}

/* Desktop */
@media (min-width: 1200px) {
    

    .floating-whatsapp {
        width: 80px;
    }

    footer {
        height: 10rem;
    }

    .footer-novedades-links-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-around;
        align-items: center;
    }

    .footer-novedades-group {
        width: 35%;
    }
    
    .footer-novedades {
        line-height: 1.9rem !important;
    }

    .footer-links-group {
        flex-grow: 1;
        width: 100%;
    }

    .main-content {
        /* Este padding sirve para dejar el espacio al Footer. En App lleva un valor mayor, en tablet éste, y desktop otro menor. */
        padding-bottom: 8rem;
    }


    .homecontenedor-section {
        display: flex;
        flex-wrap: nowrap;
        padding: 1em;
        justify-content: space-around;
    }

    .homearticle-1{
        width: 33%;
        padding: 1em;
    
    }
    
       
    .homecontenedor-section2 {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .home-tamañorelasub {
        padding: 4%;
    }

    .art-imganddesc{
        width: 24%;
        
    }
}




