<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Saints of Bath</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
    <script src='main.js'></script>

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/f3208bf673.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
            <img src="/img/Logo 1920.png">
            <form  class="header-buscador head-item">
                <input type="text"   placeholder="Buscar" >
            </form>

            <i class="fa-solid fa-bag-shopping head-item"></i>
            <i class="fa-solid fa-user head-item"></i>
            <i class="fa-solid fa-bars head-item"></i>

    </header>

    <main>
        <h1>Bienvenidos al Home de Saints of Bath!</h1>
    
        <i class="fa-solid fa-house"></i>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto ipsa, incidunt at quo fuga maxime quod quas dolorum numquam esse, similique laboriosam voluptatibus eligendi, amet sapiente! Sit obcaecati recusandae totam?</p>
    </main>

    <footer>
        <p class="footer-novedades footer-item">Recibí nuestras novedades!</p>
        <form action="/" method="POST" class="footer-item">
            <input type="email" placeholder="correo electrónico">
        </form>
        <div class="footer-item">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <a href="/" class="footer-item">Inicio</a>
        <a href="/about-us" class="footer-item">Sobre Nosotros</a>
        <a href="/refund-policy" class="footer-item">Políticas de Reembolso</a>
        <a href="/faq" class="footer-item">FAQ</a>
        <a href="/contact" class="footer-item">Contacto</a>
    </footer>
    
</body>
</html>