<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Saints of Bath</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
    <script src='main.js'></script>

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/f3208bf673.js" crossorigin="anonymous"></script>
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <!-- Otra fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&family=PT+Sans+Narrow&display=swap"
        rel="stylesheet">
    <!-- Otra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <!-- Otra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
</head>

<body>

    <!-- No tocar -->
    <header>
        <img src="/img/Logo 1920.png">
        <form class="header-buscador header-item">
            <input type="text" placeholder="Buscar">
        </form>

        <i class="fa-solid fa-bag-shopping header-item"></i>
        <i class="fa-solid fa-user header-item"></i>
        <i class="fa-solid fa-bars header-item hamburguer-icon"></i>

    </header>
    <div class="floating-menu">
        <i class="fa-solid fa-xmark floating-menu-item"></i>
        <div class="linea floating-menu-item"></div>
        <div class="floating-menu-item floating-menu-category">
            <p >Skates</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="floating-menu-item floating-menu-category">
            <p >Longboards</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="floating-menu-item floating-menu-category">
            <p >Cascos</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="floating-menu-item floating-menu-category">
            <p >Indumentaria</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="floating-menu-item floating-menu-category">
            <p >Otros</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

    <div class="page-container">

        <div class="main-content">
            <!-- No tocar hasta acá -->


            <!-- ***** Esta parte se DEBE EDITAR ***** -->
            <!-- Acá va el contenido de la página -->
            <main>
                <h1>Bienvenidos al Home de Saints of Bath!</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi saepe unde repudiandae facilis
                    perferendis suscipit quas nisi quam aut quod reprehenderit, alias provident assumenda obcaecati
                    omnis. Soluta amet eius animi.</p>
            </main>
            <!-- ***** Hasta acá se puede EDITAR ***** -->

        </div>


        <!-- No tocar -->
        <footer>
            <div class="footer-content">
                <p class="footer-novedades footer-item">Recibí nuestras novedades!</p>
                <form action="/" method="POST" class="footer-item">
                    <input type="email" placeholder="correo electrónico">
                </form>
                <div class="footer-item">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <a href="/" class="footer-item">Inicio</a>
                <a href="/about-us" class="footer-item">Sobre Nosotros</a>
                <a href="/refund-policy" class="footer-item">Políticas de Reembolso</a>
                <a href="/faq" class="footer-item">FAQ</a>
                <a href="/contact" class="footer-item">Contacto</a>
                <div class="footer-item linea"></div>
                <p class="footer-item footer-developer">Saints of Bath 2022</p>
            </div>

            <i class="fa-brands fa-whatsapp floating-whatsapp"></i>

        </footer>
        <!-- No tocar hasta acá -->
    </div>

</body>

</html>