<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Saints of Bath</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
    <script src='main.js'></script>

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/f3208bf673.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="hd-container">
            <img src="">
            <form>
                <input type="text" placeholder="Buscar">
            </form>
            <i class="fa-solid fa-bag-shopping"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-bars"></i>
        </div>

    </header>

    <main>
        <h1>Bienvenidos al Home de Saints of Bath!</h1>
    
        <i class="fa-solid fa-house"></i>
    </main>
    
</body>
</html>