<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Saints of Bath</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
	<script src='app.js'></script>

	<!-- Iconos -->
	<script src="https://kit.fontawesome.com/f3208bf673.js" crossorigin="anonymous"></script>
	<!-- Fuente -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
	<!-- Otra fuente -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&family=PT+Sans+Narrow&display=swap"
		rel="stylesheet">
	<!-- Otra -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
	<!-- Otra -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
	<!--Vinculación con fontAwesome-->
	<script src="https://kit.fontawesome.com/6ce7ce9833.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- No tocar -->


	<div class="page-container">

		<header>
			<div class="header-main">
				<a href="/" class="header-logo-container"><img src="/img/Logo chico.png" class="header-logo"
						alt="Saints of Bath"></a>
				<form class="header-buscador header-item">
					<input type="text" placeholder="Buscar">
				</form>

				<a href="/shopping-cart"><i class="fa-solid fa-bag-shopping header-item"></i></a>
				<a href="/login"><i class="fa-solid fa-user header-item"></i></a>
				<i class="fa-solid fa-bars header-item hamburguer-icon">

					<div class="floating-menu">
						<i class="fa-solid fa-xmark floating-menu-item floating-menu-cross"></i>
						<div class="linea floating-menu-item"></div>
						<div class="floating-menu-item floating-menu-category">
							<p>Skates</p>
							<i class="fa-solid fa-chevron-down"></i>
						</div>
						<div class="floating-menu-item floating-menu-category">
							<p>Longboards</p>
							<i class="fa-solid fa-chevron-down"></i>
						</div>
						<div class="floating-menu-item floating-menu-category">
							<p>Cascos</p>
							<i class="fa-solid fa-chevron-down"></i>
						</div>
						<div class="floating-menu-item floating-menu-category">
							<p>Indumentaria</p>
							<i class="fa-solid fa-chevron-down"></i>
						</div>
						<div class="floating-menu-item floating-menu-category">
							<p>Otros</p>
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</div>

				</i>
			</div>
			<div class="header-secondary">
				<!-- <strong>Promociones, financiación y envíos</strong> -->
				<form>
					<div class="header-categories">
						<select class="header-category">
							<option selected>Skates</option>
							<option>Skates A</option>
							<option>Skates B</option>
							<option>Skates C</option>
						</select>
						<select class="header-category">
							<option selected>Longboards</option>
							<option>Longboards A</option>
							<option>Longboards B</option>
							<option>Longboards C</option>
						</select>
						<select class="header-category">
							<option selected>Cascos</option>
							<option>Cascos A</option>
							<option>Cascos B</option>
							<option>Cascos C</option>
						</select>
						<select class="header-category">
							<option selected>Indumentaria</option>
							<option>Indumentaria A</option>
							<option>Indumentaria B</option>
							<option>Indumentaria C</option>
						</select>
						<select class="header-category">
							<option selected>Otros</option>
							<option>Otros A</option>
							<option>Otros B</option>
							<option>Otros C</option>
						</select>
					</div>
				</form>
			</div>

		</header>

		<div class="main-content">
			<!-- No tocar hasta acá -->


			<!-- ***** Esta parte se DEBE EDITAR ***** -->

			<main class="detalle-producto-main">

				<div class="foto-producto-web">
					<i class="fa-solid fa-magnifying-glass-plus"></i>
					<section class="foto-producto">
						<div>
							<img src="img/remera.jpg" class="remera" alt="">
						</div>
				</div>

				<div class="detalles-caracteristicas">
					<div class="detalles">
						<h2 class="titulo-producto">Remera Sk-8</h2>
						<span class="precio-producto">$$$$</span>
						<div class="cuotas">
							<i class="fa-regular fa-credit-card"></i>
							<p class="texto-cuotas">xx cuotas sin interés</p>
						</div>
						<a href="#" class="link-detalles">Ver más detalles</a>

						<section class="formulario">
							<form action="/color" method="GET" class="elegir-color">
								<label>Color</label>
								<select name="color" class="form-color">
									<option value="Negro">Negro</option>
									<option value="Blanco">Blanco</option>
									<option value="Marrón">Marrón</option>
								</select>
							</form>

							<form action="/size" method="GET" class="elegir-talle">
								<label class="label-talle">Talle</label>
								<select name="talle" class="form-talle">
									<option value="XS">XS</option>
									<option value="S">S</option>
									<option value="M">M</option>
									<option value="L">L</option>
								</select>
								<a href="#" class="link-tabla-talles">Ver tabla de talles</a>
							</form>

							<form action="/quant" method="GET" class="elegir-cantidad">
								<label>Cantidad</label>
								<select name="cantidad" class="form-cantidad">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</form>
						</section>

						<button class="boton-agregar">Agregar al carrito</button>

						<p class="texto-envio-gratis">Envío gratis superando los $10.000</p>

						<section class="section-codigo-postal">
							<form action="contact" method="POST">
								<label for="cod-postal"></label>
								<textarea name="cod-postal" id="cod-postal">Tu código postal</textarea>
							</form>
							<p><a href="#" class="btn-codigo-postal">Calcular</a></p>
						</section>
					</div>

					<div class="div-caracteristicas-producto">
						<section class="section-caracteristicas-producto">
							<p class="titulo-caracteristicas">Caracteristicas:</p>
							<p class="texto-caracteristicas">
								Remera diseñada por nuestros artistas exclusivos. Tejido: Jersey 30/1. Algodón
								Sustentable.
							</p>
						</section>
					</div>

					<div class="recomendados">
						<h2 class="titulo-recomendados">Recomendados para vos</h2>
						<article class="fotos-recomendados">
							<img src="img/recomendado1.jpg" class="recomendado1" alt="">
							<img src="img/recomendado2.jpg" class="recomendado2" alt="">
						</article>
					</div>
				</div>
			</main>

		</div>


		<!-- ***** Hasta acá se puede EDITAR ***** -->



		<!-- No tocar -->
		<footer>
			<div class="footer-content">
				<div class="footer-novedades-links-group">
					<div class="footer-novedades-group">
						<p class="footer-novedades footer-item">Recibí nuestras novedades!</p>
						<form action="/" method="POST" class="footer-item">
							<input type="email" placeholder="correo electrónico">
						</form>
					</div>

					<div class="footer-links-group">
						<div class="footer-item">
							<a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
							<a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
							<a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
							<a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
						</div>
						<div class="footer-links">
							<a href="/" class="footer-item">Inicio</a>
							<a href="/about-us" class="footer-item">Sobre Nosotros</a>
							<a href="/refund-policy" class="footer-item">Políticas de Reembolso</a>
							<a href="/faq" class="footer-item">FAQ</a>
							<a href="/contact" class="footer-item">Contacto</a>
						</div>
					</div>
				</div>


				<div class="footer-item linea"></div>
				<p class="footer-item footer-developer">Saints of Bath 2022</p>
			</div>

			<a href="https://web.whatsapp.com/" target="_blank"><img src="img/whatsapp.png" alt="WhatsApp"
					class="floating-whatsapp"></a>

		</footer>
		<!-- No tocar hasta acá -->
	</div>

</body>

</html>